// Colors
$off-white: #f7f7f7;
$dark-grey: #333333;
$grey: #666;
$dark-blue:#011627;



$theme-blue: #83bcff;
$soft-blue: #e1eff6;
// $blue: #367bc3;
$blue: #97d2fb;

//$theme-green: #2EC4B6;
$theme-green: #80ffe8;


$pink: #ffe0e0;
$pink-red: #ff4646;


$orange:#ff916b;





// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;